body {
  font-size: 16px;
  color: #fff;
  background-color: gray;
  font-family: 'Oxygen', sans-serif;
}

/*INICIO ENCABEZADO*/
#header-nav {
  background-color: #5dd55d;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #2aa22a;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*FIN ENCABEZADO*/

.categoria {
  background-color: #2ba12b;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin: 0 auto 15px;
}

.cantegoria p {
  text-align: justify;
}